$textcolor: whitesmoke;
$textsize: 10px;
$textfont: 'Montserrat', sans-serif;

p {
    font-family: $textfont;
}

/*NAV*/
.menu {
    font-family: $textfont; 
    font-size: $textsize+8px;
    font-weight: bold;
    a {
        color: rgb(32, 32, 32);
        text-decoration: none;
    }
    @media screen and (max-width: 1000px) {
        .search {
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        .navbar-nav .nav-item {
            background-color: rgba(216, 216, 216, 0.219);
        } 
    }
}

/*FORM*/
@media screen and (max-width:900px) {
    .form__image {
        display: none;
    }
}

/*FOOTER*/
.footer {
    background-color: black;
    font-family:  $textfont;
    font-size: $textsize+8px;
    line-height: 2rem;
    padding: 10px;
    color: $textcolor;
    a {
        color: $textcolor;
    }
}

