$textcolor: whitesmoke;
$textsize: 10px;
$textfont: 'Montserrat', sans-serif;

p {
    font-family: $textfont;
}

/*NAV*/
.menu {
    font-family: $textfont; 
    font-size: $textsize+8px;
    font-weight: bold;
    a {
        color: rgb(32, 32, 32);
        text-decoration: none;
    }
    @media screen and (max-width: 1000px) {
        .search {
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        .navbar-nav .nav-item {
            background-color: rgba(216, 216, 216, 0.219);
        } 
    }
}

/*FOOTER*/
.footer {
    background-color: black;
    font-family: $textfont;
    font-size: $textsize+8px;
    line-height: 2rem;
    padding: 10px;
    color: $textcolor;
    a {
        color: $textcolor;
    }
}

/*PRESENTATION*/
.presentation__ser {
    background-color: rgb(223, 140, 109);
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 1.5rem;
}

.presentation__facu--content {
    background-color: rgb(223, 140, 109);
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 1.5rem;
}

.presentation__flor {
    background-color: rgb(223, 140, 109);
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 100px;
    margin-left: 1.5rem;  
}

h2 {
    font-family: $textfont; 
    font-weight: darker;
    color: $textcolor;
    background-color: rgb(223, 140, 109);
}

p {
    font-family: $textfont; 
    font-weight: darker;
    font-size: ($textsize+8px)-1px;
    color: $textcolor;
    line-height: 1.6; 
}

@media screen and (max-width: 990px) {
    .presentation__facu {
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        margin-right: 0px;
        margin-bottom: 1.6rem;
    }
    .presentation__ser {
        margin-top: 1.5rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1.6rem;
    }
    .presentation__flor {
        margin-top: 1.5rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1.6rem;
    }
}
