$textcolor: whitesmoke;
$textsize: 10px;
$textfont: 'Montserrat', sans-serif;

p {
    font-family: $textfont;
}

/*NAV*/
.menu {
    font-family: $textfont; 
    font-size: $textsize+8px;
    font-weight: bold;
    a{
        color: rgb(32, 32, 32);
        text-decoration: none;
    }
}



/*FOOTER*/
.footer {
    background-color: black;
    font-family: $textfont;
    font-size: $textsize+8px;
    line-height: 2rem;
    padding: 10px;
    color: $textcolor;
    a {
        color: $textcolor;
    }
}

