p {
    font-family: 'Montserrat', sans-serif;
}

/*NAV*/
.menu {
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px;
    font-weight: bold;
}

a{
    color: rgb(32, 32, 32);
    text-decoration: none;
}

/*FOOTER*/
.footer {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 2rem;
    padding: 10px;
    color: whitesmoke;
}

.footer a {
    color: whitesmoke
}